ul{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 25px;
  list-style: none;
  margin-left: 220px;

}
a{
  text-decoration:none;
  color: #B2FF00;
  text-shadow: 10px 2px black;
  text-transform: uppercase;
}
footer{
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  margin-left: 150px;
}

body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
  background-repeat: no-repeat;

}
img{
  margin-bottom: -5px;
}
.banner{
    border: 10px dotted #B2FF00;
}
.wrapper{
  width: 900px;
  margin: 150px auto auto auto;
}
