ul{
  text-shadow: 2px 2px pink;
  font-family: impact;
  font-style: normal;
  font-size: 30px;
  list-style: none;
  letter-spacing: 9px;
  margin-left: 150px;
}
a{
  text-decoration:none;;
  color: grey;
}
footer{
  color: lightblue;
  font-family: cursive;
  fron-size: 10px;
}
img{
  border: 5px solid pink;
}
